<h1>takashiii-hq.comからのメッセージです。</h1>
<p>パスワードリセット用のURLが発行されました。</p>

<p>次のリンクをクリックして再設定します。</p>

<%= link_to "Reset Password", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>もしこのメールに見覚えがなければ、無視してください。</p>
